<%= form_with model: @question, local: true do |f| %>
<div class="container">
  <h2>新規投稿</h2>
    <div class="form-group">
      <%= f.label :question, "【質問】" %>
      <%= f.text_area :body, rows: 4, class: "form-control initial-height" %>
    </div>

    <div class="form-group">
      <%= f.label :details, "【詳細】" %>
      <%= f.text_area :body, rows: 5, class: "form-control initial-height" %>
    </div>

    <div class="form-group">
      <%= f.submit "送信", data: { confirm: "新規投稿しますか？" }, class: "btn btn-primary btn-block btn-lg" %>
    </div>
</div>
<% end %>

<section id="questions">
  <div class="container">
      <div class="question-container">
        <a href="">
          <div class="question">
            <div class="row">
              <div class="col-md-7">
                <div class="title-container">
                  <p class="title">
                    rails new でアプリを作った後、
                    bundle exec rake db:createを実行してもエラーが出てしまいデータベースが作れません
                  </p>
                </div>
              </div>
              <div class="col-md-5">
                <div class="info text-right">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="question-container">
        <a href="">
          <div class="question">
            <div class="row">
              <div class="col-md-7">
                <div class="title-container">
                  <p class="title">
                    画像更新時に Undefined Method Scale In CarrierWave というエラーが出る
                  </p>
                </div>
              </div>
              <div class="col-md-5">
                <div class="info text-right">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="question-container">
        <a href="">
          <div class="question">
            <div class="row">
              <div class="col-md-7">
                <div class="title-container">
                  <p class="title">
                    Dockerアプリをクローンからのデプロイってどうやればいいんでしょうか？
                  </p>
                </div>
              </div>
              <div class="col-md-5">
                <div class="info text-right">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="question-container">
        <a href="">
          <div class="question">
            <div class="row">
              <div class="col-md-7">
                <div class="title-container">
                  <p class="title">
                    `rails new hello_sample -d mysql`  でアプリが立ち上げられない
                  </p>
                </div>
              </div>
              <div class="col-md-5">
                <div class="info text-right">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
  </div>
</section>
