<%= form_with model: @question, local: true do |f| %>
<div class="container">
  <h2>新規投稿</h2>
  <div class="form-group">
    <%= f.label :title, "【質問】" %>
    <%= f.text_area :title, rows: 4, class: "form-control initial-height" %>
  </div>
  <div class="form-group">
    <%= f.label :detail, "【詳細】" %>
    <%= f.text_area :detail, rows: 5, class: "form-control initial-height" %>
  </div>
  <%= f.submit "送信", data: { confirm: "新規投稿しますか？" }, class: "btn btn-primary btn-block btn-lg" %>
</div>
<% end %>

<section id="questions">
  <div class="container">
    <div class="question-container">
      <% @questions.each do |question| %>
      <a href="">
        <div class="question">
          <div class="row no-gutters">
            <div class="col-md-7">
              <p class="title">
                <%= question.title %>
              </p>
            </div>
          </div>
        </div>
      </a>
      <% end %>
    </div>
  </div>
</section>
